{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/btpcss.css' %}">
</head>
<body>
    <section class="sub-header">
        <nav>

            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/profile"><i class="fas fa-user-circle"></i>

                    </a></li>

            </div>
        </nav>
        <h1>About Us</h1>
    </section>>
    <!-----------------------------login/signup---------------------------------------->

</body>
</html>
