{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/btpcss.css' %}">
</head>
<body>
    <section>
        <nav>

            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/profile"><i class="fas fa-user-circle"></i>

                    </a></li>

                </ul>
            </div>
        </nav>
    <!-- <div class="text-box">
        <h1>Sound Social</h1>
        <p>This new age sound sharing websites enables us to connect blah blah blah and goes on and on and on forever!</p>
        <a href="" class="hero-btn">   Get  Started !  </a>
    </div> -->
    </section>
    <!-----------------------------login/signup---------------------------------------->
    <div class="login">
<form id="login" method="get" action="login.php">
    <label><b>User Name
    </b>
    </label>
    <input type="text" name="Uname" id="Uname" placeholder="Username">
    <br><br>
    <label><b>Password
    </b>
    </label>
    <input type="Password" name="Pass" id="Pass" placeholder="Password">
    <br><br>
    <input type="button" name="log" id="log" value="Log In Here">
    <br><br>
    <input type="checkbox" id="check">
    <span>Remember me</span>
    <br><br>
    Forgot <a href="#">Password</a>
</form>
</div>





</body>
</html>
