{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/btpcss.css' %}">
</head>
<body>

        <!-- <div class="container">
            <div class="card">
                <div class="head">

                    <div class="main">
                        <div class="image">
                            <div class="hover">
                                <i class="fas fa-camera fa-2x"></i>
                            </div>
                        </div>
                        <h3 class="name">Light Yagami</h3>
                        <h3 class="sub-name">@Kira_1234</h3>
                    </div>
                </div>

                <div class="content">
                    <div class="left">
                        <div class="bio-container">
                            <h3 class="title">Bio</h3>
                            <p class="text">Lorem Ipsum is simply text of the printing and types industry.</p>
                        </div>
                        <div class="icons-container">
                            <a href="#" class="icon">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="buttons-wrap">
                            <div class="follow-wrap">
                                <a href="#" class="follow">Follow</a>
                            </div>
                            <div class="share-wrap">
                                <a href="#" class="share">Share</a>
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div>
                            <h3 class="number">91</h3>
                            <h3 class="number-title">Posts</h3>
                        </div>
                        <div>
                            <h3 class="number">2.4K</h3>
                            <h3 class="number-title">Following</h3>
                        </div>
                        <div>
                            <h3 class="number">4.7K</h3>
                            <h3 class="number-title">Followers</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <p>
          Hi {{username}} , Welcome to SoundSocial , Socialize through Sound today
        </p>
<br><br>
        <p>
          Upload file here

            <form class="" action="/upload" method="POST">
                {% csrf_token %}
                {{form}}
            </form>

        </p>
        <br><br>
        <p>
          Here are the hubs you belong to
          <ul>
            {% for hub in hubs %}
                <li> <a href="/hub/{{hub}}"> {{hub}} </a>  </li>
            {% endfor %}
          </ul>
        </p>
        <br><br>
        <p>
          Here are the sound notes you uploaded
        </p>
        <br><br>
        <p>
          Hub Recommendations
        </p>

    </body>
    </html>
